click==8.0.3
colorama==0.4.4
Flask==1.1.2
Flask-Cors==3.0.10
Flask-SQLAlchemy==2.5.1
SQLAlchemy==1.4.26
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
pycodestyle==2.7.0
PyJWT==2.3.0
six==1.15.0
toml==0.10.2
Werkzeug==1.0.1
python-dotenv==0.19.1
greenlet==1.1.2
pydantic==1.8.2
email-validator==1.1.3